#content-hilo {
  z-index: 1;
  background: cyan;
  display: flex;
  .content {
    margin: 0 auto;
    .prev-cards-container {
      margin-top: 2rem;
      margin-bottom: 1rem;
      display: flex;
      .prev-cards {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: 5px solid;
        border-image: linear-gradient(
            to top,
            transparent,
            white,
            white,
            transparent
          )
          1;
        border-top: none;
        border-bottom: none;
        background-image: linear-gradient(
          to top,
          transparent,
          red,
          red,
          transparent
        );
        position: relative;
        width: 80vw;
        height: 140px;
        display: flex;
        overflow: hidden;
        text-align: end;
        align-items: center;
        .card {
          text-align: start;
          &:first-child {
            margin-left: auto;
          }
          &:last-child {
            width: 69px;
          }
          transition: all 1s;
          position: relative;
          width: 30px;
          height: 100px;
          z-index: 1;
          img {
            height: 100px;
          }
        }
      }
    }
    .current-card-container {
      display: flex;
      justify-content: center;
      .current-card {
        display: flex;
        position: relative;
        border: 5px solid white;
        border-radius: 20px;
        margin-right: 2rem;
        background: brown;
        .cards-left_counter {
          font-size: 40px;
          position: absolute;
          top: 100%;
          left: 0;
          width: 50%;
          height: 50px;
          color: black;
          text-align: center;
          align-items: center;
        }
        img {
          height: 300px;
          width: 200px;
        }
        #card_position_absolute {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        .button-up {
          display: inline;
        }
        .button-down {
          margin-top: -1rem;
          display: inline;
        }
      }
    }
  }
}
.start-container_hilo {
  display: flex;
  text-align: center;
  margin-bottom: 1.4rem;
  .balance {
    color: black;
    font-size: 20px;
    background: rgb(194, 124, 230);
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.3rem 0.5rem;
    text-align: center;
    .coins {
      margin: auto;
      text-align: end;
      background: transparent;
      color: black;
      font-size: 20px;
      padding-right: 10px;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .start-btn_hilo {
    &::selection {
      color: transparent;
      background-color: transparent;
    }
    position: relative;
    display: inline-block;
    font-size: 18px;
    // margin: 10px 0;
    margin: auto;
    text-transform: uppercase;
    padding: 12px 36px;
    cursor: pointer;
    border-radius: 40px;
    letter-spacing: 2px;
    color: transparent;
    background: transparent;
    overflow: hidden;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #0162c8, #17db31);
      z-index: -2;
    }
    .letters {
      position: absolute;
      text-transform: uppercase;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      background: transparent;
      z-index: -1;
      padding: 12px 36px;
      &-reset {
        transform: translate(-300px, 0px);
      }
    }
    span {
      position: absolute;
      background: #fff;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      animation: animate 1s linear infinite;
    }
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
.score_hilo {
  display: flex;
  font-size: 30px;
  background: red;
  box-shadow: inset rgba($color: darkred, $alpha: 0.5) 5px 5px 5px;
  color: black;
  padding: 0.3rem;
  margin-bottom: auto;
  border-radius: 15px;
  margin-left: 2rem;
  position: relative;
  .points_hilo {
    position: relative;
    top: 0;
    bottom: 0;
    width: 50px;
    padding-left: 10px;
    margin-left: 7px;
    border: 2px solid grey;
    background: honeydew;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    &:focus {
      outline: none;
    }
  }
}
