.form-btn {
  padding: 5px 10px;
  border-radius: 0.7rem;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
}
.current {
  color: black !important;
  background: orange !important;
  p {
    color: black !important;
    background: orange !important;
  }
}
.content-page {
  transition: all 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.use-slowshow {
  transition: all 1s;
  &:before {
    content: "";
    animation: slowshow 1s 0.8s forwards;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    border: 3px double lightgray;
    border-radius: 20px;
  }
}
@keyframes slowshow {
  0% {
    height: 0%;
    top: 50%;
  }
  100% {
    top: 0;
    height: 100%;
  }
}

@keyframes changepassword {
  to {
    height: 100%;
    top: 0;
  }
}
.empty-space {
  width: 70px;
  height: 100vh;
  background-color: rgb(0, 247, 255);
}

//////////////////////
////////////HILO
////////////////////
.button-slide {
  transition: all 0.5s;
  z-index: 1;
  display: inline;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  color: magenta;
  &:hover {
    cursor: pointer;
    color: darkmagenta;
  }
}
.button-play {
  display: inline;
  i {
    transition: all 0.5s;
    display: inline;
    color: red;
    &:hover {
      cursor: pointer;
      color: green;
    }
  }
}

.move-to-current-card {
  animation: moveToCurrentCard 1s forwards;
}
@keyframes moveToCurrentCard {
  0% {
    width: 200px;
    left: 0%;
  }
  50% {
    width: 0px;
    left: 35%;
  }
  100% {
    width: 200px;
    left: 50%;
  }
}
.button-disabled {
  pointer-events: none;
  color: gray !important;
}

.letters_animation_start {
  animation: lettersAnimationStart 1s forwards;
}
@keyframes lettersAnimationStart {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5px, 0px);
  }
  100% {
    transform: translate(300px, 0px);
  }
}
.letters_animation_reset {
  animation: lettersAnimationReset 1s forwards;
}
@keyframes lettersAnimationReset {
  0% {
    transform: translate(-300px, 0px);
  }
  80% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.letters_animation_start_reverse {
  animation: lettersAnimationStartReverse 1s forwards;
}
@keyframes lettersAnimationStartReverse {
  0% {
    transform: translate(300px, 0px);
  }
  80% {
    transform: translate(-5px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.letters_animation_reset_reverse {
  animation: lettersAnimationResetReverse 1s forwards;
}
@keyframes lettersAnimationResetReverse {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(5px, 0px);
  }
  100% {
    transform: translate(-300px, 0px);
  }
}
////////////////////////////////////////
