@import "utilities";
@import "variables";
@import "login";
@import "register";
@import "profile";
@import "hilo";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.full-content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
// APP
.full-content-app {
  transition: all 1s;
  color: white;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  position: relative;
  transform: translateY(-100vh);
  display: flex;
  .empty {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 70px;
  }
  #navigation {
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 22;
    padding-top: 1rem;
    background: black;
    display: inline-block;
    width: 70px;
    height: 100vh;
    overflow: hidden;
    .nav-list {
      display: flex;
      flex-direction: column;
      .nav-item {
        margin-bottom: 1rem;
        padding-left: 0.7rem;
        color: orange;
        cursor: pointer;
        display: inline;
        position: relative;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        transition: 0.3s;
        &:hover {
          background: gray;
        }
        p {
          position: absolute;
          top: 20%;
          left: 70px;
          font-size: 20px;
        }
      }
    }
  }
  .content {
    position: relative;

    #content-deposit {
      z-index: 1;
      background: green;
      display: flex;
      .content {
        margin: 0 auto;
      }
    }
    #content-dices {
      z-index: 1;
      background: red;
      display: flex;
      .content {
        margin: 0 auto;
      }
    }

    #content-mines {
      z-index: 1;
      background: purple;
      display: flex;
      .content {
        margin: 0 auto;
      }
    }
    #content-settings {
      z-index: 1;
      background: violet;
      display: flex;
      .content {
        margin: 0 auto;
      }
    }
  }
}
